<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <title>WPFinalProj</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="main-section">
      <h1 id="category-name"><%= category %></h1>
      <div id="search-option-container">
        <div id="total-count-container">
          <div>Total : <span class="item-count">11</span> items</div>
        </div>
        <div id="search-sort"></div>
      </div>
    </main>
  </body>
</html>
